{% extends 'base.html' %}
{% block header %}{% endblock %}
<br>
{% block content %}

<div class="container">
  <div class="row">
    <div><br></div>

    <div class="col-md-9">
      <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="{{ url_for('static', filename='img/' + recipe.image_url) }}" alt="{{ recipe.name }}" width="200" height="150">
            <div style="text-align: center" class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.description }}</p>
              <a href="/recipes/{{ recipe.id }}" class="btn btn-primary">View Recipe</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
<br>
{% block footer %}{% endblock %}