{% extends 'base.html' %}

{% block content %}
  <h1>Recommended Recipes</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for recipe in recommended_recipes %}
      <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="{{ url_for('static', filename='img/' + recipe.image_url) }}" alt="{{ recipe.name }}" width="200" height="150">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
          </div>
          <div class="card-footer">
            <a href="{{ url_for('recipe_detail', id=recipe.id) }}" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
